<!--お気に入り一覧画面-->
<div class="container">
  <div class="row">
    <div class="col-10">
      <h5>お気に入り一覧</h5>
      <%= render 'index', posts: @bookmarks %>
    </div>
  </div>
  <div class="row">
    <p>合計金額</p><%= @bookmarks.where(bookmark: true).sum {|post| post.amount} %><p>円</p>
  </div>
</div>