<!--カテゴリー詳細画面-->
<div class="container">
  <div class="row">
    <%#= @date %><p>の合計金額</p><%#= @posts.where(payment_at: @date).sum {|post| post.amount} %><p>円</p>
  </div>
  <div class="row">
    <div class="col-10">
      
      
    </div>
  </div>
</div>