<!--ログイン前トップ画面-->
<div class="container">
  <div class="row">
    <div class="col-10">
      <h3>今週のオトク<i class="fas fa-shopping-basket"></i></h3>
      <h6>A店の一押し</h6><p>準備中</p>
      <h6>B店の広告の品！</h6><p>準備中</p>
      <h6>C店のおすすめ</h6><p>準備中</p>
    </div>
    <div class="col-10">
      <h5>このアプリの使い方</h5>
      <p>ログインすると以下のアイコンが表示され、家計簿記録が可能です<br>
        <i class="fas fa-home"></i>  マイページで月支の確認とユーザー情報の編集が可能です<br>
        <i class="fas fa-pencil-alt"></i>  記録の登録画面に移動します<br>
        <i class="fas fa-heart"></i>  よく買うものや趣味の出費記録などブックマークの一覧が確認できます<br>
        <i class="fas fa-search"></i>  購入品のキーワードや支出のカテゴリーから過去の出費を検索できます<br>
        左上のサイト名をクリックするとこの画面に戻ります
      </p>
    </div>
  </div>
</div>