<!--管理者トップ画面-->
<div class="container">
  <h2 class="text-dark">ユーザー一覧</h2>
  <tr>
    <th>
      ユーザー名
    </th>
    <th>
      メールアドレス
    </th>
    <th>
      ステータス
    </th>
  </tr>
  <% each @users |user| %>
  <tr>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
    </td>
  </tr>
</div>