@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  position: fixed;
  top: 0;
  z-index: 99;
}

.container-main {
  margin-top: 60px;
}


footer {
  position: fixed;
  bottom: 0;
}