@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  position: fixed;
  top: 0;
}

// .container {
//   margin-top: 80px;
//   // margin-bottom: 100px;
//   // box-sizing: border-box;
// }

footer {
  position: fixed;
  bottom: 0;
}