<!--ユーザー情報編集画面-->
<div class="container">
  <div class="row">
    <h5 class="col-4 text-center">ユーザー情報編集</h5>
  </div>
  <div class="col-10">
    <%= form_with model: @user, url: users_information_path, local :true do |f| %>
    
  </div>
</div>