<!--共通ヘッダー-->
<header>
  <nav class="navbar text-dark" style="background-color: #f39800;">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" href="/"><span>かこーぼ</span></a>
    </div>
  </nav>
</header>