<!--一覧表示用テンプレート-->
<!--<tbody>-->
  <%#= post.each do |post| %>
<!--  <tr>-->
<!--    <td><%#= post.payment_at %></td>-->
<!--    <td><%#= category.category_name %></td>-->
<!--    <td><%#= post.content %></td>-->
<!--    <td><%#= post.price %></td>-->
<!--    <td><%#= post.quantity %></td>-->
<!--  </tr>-->
  <%# end %>
<!--</tbody>-->
